@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 99%;
    --foreground: 240 10% 3.9%;
    --card: 240 10% 99%;
    --card-foreground: 240 10% 3.9%;
    --popover: 240 10% 99%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 340 50% 65%;
    --primary-foreground: 340 10% 98%;
    --secondary: 240 5% 96%;
    --secondary-foreground: 240 5% 45%;
    --muted: 240 5% 96%;
    --muted-foreground: 240 5% 45%;
    --accent: 240 6% 10%;
    --accent-foreground: 240 5% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 340 50% 65%;
    --chart-1: 340 50% 65%;
    --chart-2: 240 6% 10%;
    --chart-3: 240 5% 96%;
    --chart-4: 240 5% 45%;
    --chart-5: 240 5% 98%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 240 6% 10%;
    --foreground: 240 5% 98%;
    --card: 240 6% 10%;
    --card-foreground: 240 5% 98%;
    --popover: 240 6% 10%;
    --popover-foreground: 240 5% 98%;
    --primary: 340 50% 65%;
    --primary-foreground: 340 10% 98%;
    --secondary: 240 5% 16%;
    --secondary-foreground: 240 5% 98%;
    --muted: 240 5% 16%;
    --muted-foreground: 240 5% 64%;
    --accent: 240 10% 99%;
    --accent-foreground: 240 6% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 16%;
    --input: 240 5% 16%;
    --ring: 340 50% 65%;
    --chart-1: 340 50% 65%;
    --chart-2: 240 5% 98%;
    --chart-3: 240 5% 16%;
    --chart-4: 240 5% 64%;
    --chart-5: 240 10% 99%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
